@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  transition: all 0.2s;
}

body {
  color: #0a0a0a;
  background-color: #fafafa;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

header {
  width: 98%;
  display: flex;
  justify-content: space-between;
}
.supertape-logo {
  display: flex;
  justify-content: flex-start;
  margin-left: 0;
  width: 9rem;
  margin: 1.5rem 0 0 1.2rem;
  color: #0a0a0a;
}

.supertape-logo:hover {
  color: rgb(124, 68, 252);
}

header {
  position: sticky;
  top: 0;
}

header nav ul li {
  display: inline-block;
  margin: 1.5rem 0 0 1.2rem;
  font-size: 1.1rem;
}

.sign-up {
  border: 2px solid rgb(124, 68, 252);
  border-radius: 8px;
  padding: 2px 6px;
}

.sign-up:hover {
  border: 2px solid #0a0a0a;
  color: #0a0a0a;
}

nav a {
  color: rgb(124, 68, 252);
}

#Login:hover {
  color: #0a0a0a;
}

h1 {
  font-weight: 300;
  line-height: 88px;
  font-size: 70px;
  margin-top: 9rem;
}

.sections-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sections-2 {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  color: #fafafa;
  cursor: pointer;
}

.main-text {
  width: 75%;
  display: flex;
  background-color: #7c44fc;
  margin-right: 2px;
  font-size: 18px;
  padding: 1.8rem 1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.get-started {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7c44fc;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.get-started p:first-child {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.get-started p:last-child {
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1px;
  opacity: 0.8;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.sign-up-logo {
  margin-right: 2rem;
  padding-left: 10px;
}

.sections-2 a {
  color: #fafafa;
}

.sections-2:hover .main-text,
.sections-2:hover .get-started {
  background-color: #0a0a0a;
}

.sections-2 .hover {
  display: flex;
}

.page {
  margin-top: 5rem;
  background-color: #0a0a0a;
  width: 100%;
  height: 900px;
  border-radius: 10px;
}

.flex {
  display: flex;
  justify-content: center;
}
.spotify {
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.page p {
  color: #a3a3a3;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  font-size: 18px;
}

.page p:last-child {
  font-size: 15px;
  color: #525252;
  margin: 5px 0 0 0;
  letter-spacing: 0.8px;
}

.advertisment {
  width: 100%;
  height: 800px;

  border: 2px solid #0a0a0a;
  border-radius: 10px;
  margin-top: 5rem;
}

.main-ad h2 {
  font-size: 40px;
  font-weight: 300;
  line-height: 36px;
  display: flex;
  justify-content: center;
  padding: 2.5rem;
  border-bottom: 2px solid #0a0a0a;
}

.ad-text {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  padding: 2.5rem;
}

.diagram img {
  max-width: 100%;
  max-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.supertape-sits {
  margin-top: 5rem;
  background-color: #0a0a0a;
  width: 100%;
  height: 900px;
  border-radius: 10px;
}

.flex-site {
  display: flex;
  justify-content: center;
}
.sits {
  width: 780px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.supertape-sits p {
  color: #a3a3a3;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  font-size: 18px;
}

.supertape-sits p:last-child {
  font-size: 15px;
  color: #525252;
  margin: 5px 0 0 0;
  letter-spacing: 0.8px;
}

.promote {
  width: 100%;
  height: 900px;
  border: 2px solid #0a0a0a;
  border-radius: 10px;
  margin-top: 5rem;
  position: relative;
}

.promote-header h2 {
  font-size: 40px;
  font-weight: 300;
  line-height: 36px;
  display: flex;
  justify-content: center;
  padding: 2.5rem;
  border-bottom: 2px solid #0a0a0a;
}

.promote-text {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  padding: 2.5rem;
}

.promote .table {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promote .table span {
  display: inline-block;
  padding: 1rem;
  border-left: 2px solid #0a0a0a;
}

/* .promote .table span::before {
  border-left: 2px solid #0a0a0a;
  content: "";
  height: 8%;
  left: 11rem;
  position: absolute;
} */

.promote .table i {
  align-items: center;
  padding-left: 1rem;
  padding-right: 10px;
}

.first-coulmn {
  width: 40%;
  font-size: 22px;
  border: 2px solid #0a0a0a;
  border-right: 0px;
}

.first-coulmn div:not(:last-child) {
  border-bottom: 2px solid #0a0a0a;
}

.second-coulmn {
  width: 40%;
  font-size: 22px;
  border: 2px solid #0a0a0a;
}

.second-coulmn div:not(:last-child) {
  border-bottom: 2px solid #0a0a0a;
}

.supertape-app {
  margin-top: 5rem;
  background-color: #0a0a0a;
  width: 100%;
  height: 900px;
  border-radius: 10px;
}

.flex-app {
  display: flex;
  justify-content: center;
}
.app {
  width: 750px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.supertape-app p {
  color: #a3a3a3;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  font-size: 18px;
}

.supertape-app p:last-child {
  font-size: 15px;
  color: #525252;
  margin: 5px 0 0 0;
  letter-spacing: 0.8px;
}

.site-info {
  width: 100%;
  height: 800px;
  border: 2px solid #0a0a0a;
  border-radius: 10px;
  margin-top: 5rem;
}

.main-info h2 {
  font-size: 40px;
  font-weight: 300;
  line-height: 36px;
  display: flex;
  justify-content: center;
  padding: 2.5rem;
  border-bottom: 2px solid #0a0a0a;
}

.info-text {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  padding: 2.5rem;
}

.record-img img {
  width: 1080px;
  margin-left: 30px;
}

.features-page svg {
  width: 25px;
}

.features-page {
  margin-top: 5rem;
}

.features-page h3,
p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.features-page p {
  opacity: 0.7;
}

.features-page h2 {
  height: 120px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 40px;
  font-weight: 300;
  line-height: 36px;
  margin-bottom: 2px;
  background-color: #0a0a0a;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-left {
  display: flex;
  flex-direction: column;
}

.feature-right {
  display: flex;
  flex-direction: column;
}

.feature-option {
  display: flex;
  justify-content: space-around;
  background-color: #0a0a0a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fafafa;
  padding: 4rem 3rem;
}

.feature-option div {
  margin-bottom: 2rem;
}

.leader-info {
  width: 100%;
  height: 400px;
  border: 2px solid #0a0a0a;
  border-radius: 10px;
  margin-top: 5rem;
}

.main-head h2 {
  font-size: 40px;
  font-weight: 300;
  line-height: 36px;
  display: flex;
  justify-content: center;
  padding: 2.5rem;
  border-bottom: 2px solid #0a0a0a;
}

.description {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}

.description a {
  color: #7c44fc;
}
.description a:hover {
  text-decoration: underline;
}
.description div {
  display: flex;
  flex-direction: column;
}

.description div p:last-child {
  padding-top: 2rem;
}

.free-trial {
  height: 700px;
  margin-top: 5rem;
  background-color: #0a0a0a;
  border-radius: 10px;
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 8rem;
}

.free-trial-desc h2 {
  font-size: 40px;
  font-weight: 300;
  line-height: 36px;
}
.free-trial-desc p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #7f7f7f;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.price {
  margin-top: 3rem;
}

.price-title {
  font-size: 18px;
  font-weight: 400;
}
.price p:not(:last-child) {
  font-size: 36px;
  font-weight: 300;
}

.price p:last-child {
  color: #535353;
  margin-top: 1rem;
}

.free-trial-desc {
  margin-top: 3rem;
}

.price-title h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  border-bottom: 1px solid #fafafa;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.price-table {
  width: 550px;
  height: 250px;
  border: 1px solid #fafafa;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.free-trial a {
  background-color: #7c44fc;
  color: #e3dafb;
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
  padding: 1rem 5rem;
  border-radius: 10px;
}

.free-trial a:hover {
  background-color: #fafafa;
  color: #7c44fc;
}

.price p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-nav {
  color: #7c44fc;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.sec-nav .nav-right {
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 1rem;
}

.sec-nav .nav-left {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1rem;
}

.nav-right a:hover {
  color: #0a0a0a;
}

.nav-left a:hover {
  color: #0a0a0a;
}
